#!/usr/bin/env python
#                                 _ ________                         #
#                     _________  (_) __/ __/__  __                   #
#                    / ___/ __ \/ / /_/ /_ / / / /                   #
#                   (__  ) /_/ / / __/ __// /_/ /                    #
#                  /____/ .___/_/_/ /_/   \__, /                     #
#                      /_/               /____/                      #
#                                                                    #
#-#-#-#-#-#-#-#-#-#-#-#-#      GENERAL       #-#-#-#-#-#-#-#-#-#-#-#-#
#                                                                    #
# nick - The nickname and alternative nicknames to use when
#        connecting to an IRC server
#
#    If nick is a list the first nickname in the list will be the
#    primary nickname and the rest alternative nicknames.
#
#    Use 'spiffy' as your primary nickname and 'yffips' if someone
#    else is already using 'spiffy' on the network:
#        nick = ['spiffy', 'yffips']
#
#    The default nickname is 'spiffy'.
#

nick = 'spiffy'

#
# user - The username that is sent to the IRC server
#
#    If no username is specified the value of nick is used.
#

user = 'spiffy'

#
# password - The password sent to the server when connecting
#
#    Most servers don't require a password, it's probably safe
#    the password to None.
#

password = None

#
# name - The 'real name' of the user
#
#    If no name is specified the value of nick is used.
#

name = "spiffy - http://github.com/liato/spiffy"

#
# channels - A list of channels to join.
#
#    Separate the channel key with a space.
#

channels = ['#spiffy secretpassword', '#help']

#
# versionreply - The text to send back when a user sends a
#                version request using CTCP
#
#    To disable version reply:
#        versionreply = None
#

versionreply = "I'm spiffy!"

#
# ownermask - A regular expression matching the bots owners hostmask
#
#    When a user attempts to execute an 'admin-only' command ownermask
#    is matched against this users nick!user@host.
#
#    To let anyone with the nickname 'spaffy' execute admin commands:
#        ownermask = 'spaffy!'
#
#    To let anyone with a username starting with
#    'foo'  execute admin commands:
#        ownermask = '.+!~?foo[^@]+'
#
#    To let anyone connecting from sweden execute admin commands:
#        ownermask = r'\.se$'
#
#    If the ownermask is set to None no admin commands will execute:
#        ownermask = None
#

ownermask = '@(127.0.0.1|localhost)'

#
# prefix - A singe character used to trigger commands
#
#    The first word after the prefix will be matched against known
#    commands and thereafter the command, if found, will be executed.
#
#                      !help args
#                      /   |    \-- args to the command
#        prefix = ! --/    |
#                          |-- command = help
#
#    Execute the help command by writing !help in a channel:
#        prefix = '!'
#
#    Execute the commands command by writing @commands in a channel:
#        prefix = '@'
#
#    The default prefix is !:

prefix = '!'

#
# chandebug - Print error messages to channel
#
#    Set to False if you don't want error messages from plugins
#    to be sent to the channel where the command was issued:
#        chandebug = False
#
#    The default setting is to enable error printing:

chandebug = True

#                                                                    #
#-#-#-#-#-#-#-#-#-#-#-#-##-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

#-#-#-#-#-#-#-#-#-#-#-#-#      PLUGINS       #-#-#-#-#-#-#-#-#-#-#-#-#
#                                                                    #
# plugins_exclude - A list of plugins to exclude
#
#    Normally all plugins from the 'plugins' directory are loaded.
#    If you wish to prevent some of the plugins to load you need
#    to include the filenames in plugins_exclude.
#    If not file extension is specified '.py' is assumed.
#    Prevent the imdb and cmd plugin from loading:
#        plugins_exclude = ['imdb', 'cmd']
#            or
#        plugins_exclude = ['imdb.py', 'cmd.py']
#
#   The default setting is to load all plugins:

plugins_exclude = []

#
# plugins_include - A list of plugins to load
#
#    Normally all plugins from the 'plugins' directory are loaded.
#    If you only want specific plugins to load you have to put all
#    the filenames in plugins_include.
#    Note that this setting takes precedence over all other plugins
#    settings.
#    If not file extension is specified '.py' is assumed.
#    Don't load any plugins:
#        plugins_include = []
#
#    Only load the imdb and cmd plugin:
#        plugins_include = ['imdb', 'cmd']
#            or
#        plugins_include = ['imdb.py', 'cmd.py']
#
#    Disable this setting:
#        plugins_include = False
#
#   The default setting is to load all plugins:

plugins_include = False

#
# timezone - Timezone to use instead of the local timezone.
#
#    This setting requires the pytz library from:
#    http://pypi.python.org/pypi/pytz/
#
#    If a valid timezone is set the plugins will be able to get the
#    the datetime of the specified timezone by using self.localtime()
#    instead of datetime.datetime.now().
#    This setting is useful if your server is located in a different
#    timezone than you.
#    A list of all valid timezones can be found in pytz.all_timezones
#
#   The default setting is to use the local timezone:

timezone = None

#                                                                    #
#-#-#-#-#-#-#-#-#-#-#-#-##-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

#-#-#-#-#-#-#-#-#-#-#-#-#      LOGGING       #-#-#-#-#-#-#-#-#-#-#-#-#
#                                                                    #
# pathname - The path to the log files/database
#
#    For plain text logging logpath can be a relative
#    or absolute path:
#        logpath = "logfiles/"
#            or
#        logpath = "C:\Windows\logs\irc\"
#            or
#        logpath = "/home/spiffy/logs/"
#
#    For sqlite logging logpath should start with sqlite://.
#    If the optional filename is not specified 'logs.s3db'
#    will be used:
#        logpath = "sqlite://logfiles/"
#            or
#        logpath = "sqlite://C:\Windows\logs\irc\"
#            or
#        logpath = "sqlite:///home/spiffy/logs/logs.db"
#            or
#        logpath = "sqlite://mylogs.db"
#
#    For mysql logging logpath should use the following format:
#        mysql://user:password@host[:port]/database
#        logpath = "mysql://spiffy:omfg@mysql.mywebhost.com:3306/logs"
#            or
#        logpath = "mysql://irc:passlord@localhost/spiffy"
#
#    To disable logging completly set logpath to None:
#        logpath = None
#
#    The default is plaintext logging to the logs directory:

logpath = 'logs/'

#
# logevents - A list of events to log
#
#    For anything to be logged a list of events has to be specified.
#    Avaiable events are:
#        332     - Channel topic is received.
#        333     - Nick and set date for channel topic is received.
#        JOIN    - A user joins a channel.
#        KICK    - A user is kicked from a channel.
#        MODE    - Channel modes are changed.
#        NICK    - A user changes nickname.
#        NOTICE  - A user sends a notice to a channel or user.
#        PART    - A user parts a channel.
#        PRIVMSG - A user sends a message to a channel or user.
#        QUIT    - A user quits IRC.
#        TOPIC   - A user changes the topic in a channel.
#
#    To only log what is being said in a channel:
#        logevents = ['PRIVMSG', 'NOTICE']
#
#    To only log topic changes:
#        logevents = ['TOPIC']
#
#    The default is to log all available events:

logevents = ['332', '333', 'JOIN', 'KICK', 'MODE', 'NICK',
             'NOTICE', 'PART', 'PRIVMSG', 'QUIT', 'TOPIC']

#                                                                    #
#-#-#-#-#-#-#-#-#-#-#-#-##-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

#-#-#-#-#-#-#-#-#-#-#-#-#  NETWORK SETTINGS  #-#-#-#-#-#-#-#-#-#-#-#-#
#                                                                    #
# networks - A dict of networks to connect to
#
#    The networks setting should contain atleast one network with
#    atleast one host with an optional port.
#
#    Server specific settings can be made here by giving a key in
#    a network dict the same name as a setting variable.
#    Settings are first loaded from the config file and then
#    overwritten by network specific settings specified bellow.
#
#    Connect to QuakeNet on port 6667 with the defaults settings:
#        networks = {
#            'quakenet': {
#                'host': 'irc.quakenet.org'
#                }
#            }
#
#    To connect using SSL you need to prefix the port with a '+'.
#    Connect to ChatSpike using SSL and default settings:
#        networks = {
#            'chatspike': {
#                'host': 'irc.chatspike.net:+6668'
#                }
#            }
#
#    The 'host' key can also be a list of hosts, when the bot fails
#    to connect or disconnects from one server it automatically
#    jumps to the next one.
#    The list of servers can not contain both SSL and non SSL
#    servers at the same time:
#        networks = {
#            'quakenet': {
#                'host': ['jubii.dk.quakenet.org',
#                         'euroserv.fr.quakenet.org:6667']
#                }
#            }
#
#    Connect to QuakeNet with a different nickname and different
#    channels to join:
#        networks = {
#            'quakenet': {
#                'host': 'irc.quakenet.org',
#                'nick': 'yffips',
#                'channels': ['#halflife', '#idlers']
#                }
#            }
#
#    Connect to QuakeNet and freenode with a different settings:
#        networks = {
#            'quakenet': {
#                'host': 'irc.quakenet.org',
#                'nick': 'gamer',
#                'channels': ['#halflife', '#idlers']
#            'freenode': {
#                'host': ['kornbluth.freenode.net', 'orwell.freenode.net'],
#                'nick': 'coder',
#                'channels': ['#spiffy', '#python', '#help'],
#                'logpath': 'sqlite://logs/freenode.db',
#                'logevents': ['JOIN', 'KICK','NOTICE', 'PART', 'PRIVMSG']
#                }
#            }
#                                                                    #
#-#-#-#-#-#-#-#-#-#-#-#-##-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#